@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-popup-content-wrapper {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.4);
}

.leaflet-popup-tip {
  background: #ffffff;
}
